{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="content">Answer Content</label>
            <textarea name="content" id="content" rows="10" class="form-control">{{form.content.value|default_if_none:''}}</textarea>
        </div>
        <button type="submit" class="btn btn-mdb-color">Submit Answer</button>
    </form>
</div>
{% endblock %}