{% extends 'base.html' %}
{% block content %}



<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <span class="display-1 d-block">500</span>
            <div class="mb-4 lead">Internal server error</div>
            <a href="/" class="btn btn-link">
                <button type="button" class="btn btn-dark btn-lg btn-rounded text-lg"><i class="fas fa-home fa-2x pr-2"
                    aria-hidden="true"></i>Back to the main page</button>
            </a>
        </div>
    </div>
    <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img src="https://images.unsplash.com/photo-1555861496-0666c8981751?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="" />
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    
    <!--Card-->
  </div>


  {% endblock %}